{% extends 'base.html' %}
{% block title %}Painel de Gestão | Jotanunes{% endblock %}
{% block content %}
<h2>Painel de Gestão Jotanunes</h2>
<div class="row mt-4">
    <div class="col-md-3 mb-3">
        <div class="card bg-dark text-center text-light p-3">
            <h1 class="text-danger">10</h1>
            <p>Customizações Ativas</p>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-dark text-center text-light p-3">
            <h1 class="text-danger">6</h1>
            <p>Alterações em Análise</p>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-dark text-center text-light p-3">
            <h1 class="text-danger">5</h1>
            <p>Dependências Ativas</p>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-dark text-center text-light p-3">
            <h1 class="text-danger">8</h1>
            <p>Novas Notificações</p>
        </div>
    </div>
</div>
{% endblock %}
